body {
    background: #e0f3f5;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

    justify-content: center;

    padding-top: 30px;

}

.search-form {
    background-color: rgb(50, 75, 188);
    padding: 40px;
}

input {

    border-radius: 5px;
    border-style: none;
    padding: 10px;

    width: 250px;
    height: 40px;

    outline: transparent;
}


button {
    width: 100px;
    height: 40px;
    border-radius: 4px;
    border: none;
    background: #10dff2;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: .06em;
    cursor: pointer;
}

button:hover, button:focus {
    background: rgb(39, 39, 126);
}

.load-more {

    display: block;
    margin-left: auto;
    margin-right: auto;
    
}


.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

